extends ./layout.pug
block content
  h1= title
  form(method="post" action="/api/user/register")
    | 邮箱
    input(name="email" id="emailInput")
    br
    | 密码：
    input(name="password" id="passwordInput")
    br
    button(type="button" id="registerBtn") 注册
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/js/register.js")
